GitPython
SpeechRecognition
Flask
flask-cors
groq
ddgs
requests
beautifulsoup4
waitress
python-dotenv
fpdf2
pygments
Flask-Bcrypt
markitdown
youtube-transcript-api
pdfminer.six
mammoth
openpyxl
python-pptx
